@font-face {
  font-family: 'BQN386 Unicode';
  src: url('./fonts/BQN386.woff2') format('woff2'),
      url('./fonts/BQN386.woff') format('woff'),
      url('./fonts/BQN386.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-bg: #282828;
  --bg: #222121;
  --fg: #EADBB2;
  --link: #CC7F66;
  /* --color-link-visited: #668F8B; */
  --link-hover: #FA7921;

  --main-font: 'BQN386 Unicode';
}

header {
  background-color: var(--header-bg);
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid;
  padding: 15px 0;
}

header>div {
  display:inline-block;
  width: 15%;
  max-width: 160px;
}

header a {
  color: var(--link);
  text-decoration: none;
}

a {
  color: var(--link);
  display: contents underline;
}

a:hover, a.current { color: var(--link-hover); }

/* html {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--main-font);
}

body {
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} */

html, body {
  background: var(--bg);
  color: var(--fg);
  font-family: "BQN386 Unicode";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 34px;
  padding-left: 60px;
}

code, pre { color: #d1bc83; }
code.literal { color: #97BEDC; }
code.str { color: #E27373; }
code.prompt { color: #E1C0FA; }
